name: Package Integration Tests

on:
  workflow_call:
    inputs:
      command:
        description: "The command to run for running the package integration tests."
        required: false
        type: string
        default: make test-integration
      k8s_version:
        description: "The Kubernetes version to use for running the package integration tests."
        required: false
        type: string
        default: v1.34

permissions:
  contents: read

jobs:
  test-integration:
    name: Integration Tests on ${{ inputs.k8s_version }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Carvel
        uses: carvel-dev/setup-action@47ccf1e203f9789b83ad664384be98880639c3cf # v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
      
      - name: Set up Chainsaw
        uses: kyverno/action-install-chainsaw@06560d18422209e9c1e08e931d477d04bf2674c1 # v0.2.14
      
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@00f483c95eacf401cf9f4aa3746964071a747334 # master

      - name: Install kuttl
        run: |
          brew tap kudobuilder/tap
          brew install kuttl-cli

      - name: Run integration tests
        run: ${{ inputs.command }}
        env:
          K8S_VERSION: ${{ inputs.k8s_version }}
