name: PAckage Configuration Tests

on:
  workflow_call:
    inputs:
      command:
        description: "The command to run for testing the package configuration."
        required: false
        type: string
        default: task test:config

permissions:
  contents: read

env:
  FLOX_DISABLE_METRICS: true

jobs:
  test-config:
    name: Configuration Tests
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Flox
        uses: flox/install-flox-action@9428713e8d3883274c334b4b95b8830beebd24d2 # v2.3.0
      
      - name: Run configuration tests
        uses: flox/activate-action@410568008895a0f2e09a34bbd9523f8ef1f2d292 # v1.1.0
        with:
          command: ${{ inputs.command }}
