name: Package Config Tests

on:
  workflow_call:
    inputs:
      command:
        description: "The command to run for testing the package configuration."
        required: false
        type: string
        default: make test-config

permissions:
  contents: read

jobs:
  test-config:
    name: Configuration Tests
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Carvel
        uses: carvel-dev/setup-action@47ccf1e203f9789b83ad664384be98880639c3cf # v2.0.1
        with:
          only: ytt
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@00f483c95eacf401cf9f4aa3746964071a747334 # master

      - name: Install kubeconform
        run: |
          brew install kubeconform

      - name: Run config checks
        run: ${{ inputs.command }}
