name: Package Integration Tests

on:
  workflow_call:
    inputs:
      command:
        description: "The command to run for running the package integration tests."
        required: true
        type: string
        default: make test-integration

jobs:
  test-integration:
    name: Integration Tests on ${{ matrix.k3s_image }}
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        k3s_image: [
          "rancher/k3s:v1.24.9-k3s1",
          "rancher/k3s:v1.25.5-k3s1",
          "rancher/k3s:v1.26.0-k3s1"
        ]
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3.1.0

      - name: Set up Carvel
        uses: vmware-tanzu/carvel-setup-action@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create k3d cluster
        run: |
          # Install k3d
          curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
          
          # Create a Kubernetes cluster
          k3d cluster create test-cluster --image ${{ matrix.k3s_image }}

          # Wait for the generation of a token for the Service Account.
          # It can be removed once support for Kubernetes 1.24 is dropped.
          while [ $(kubectl get configmap kube-root-ca.crt --no-headers | wc -l) -eq 0 ] ; do
            sleep 3
          done

      - name: Run integration tests
        run: ${{ inputs.command }}
